.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.background-image {
    background-image: url(/img/nasa-background.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 89vh;
}

.pic-of-day {
    border: 4px solid #e8d4b4;
}

div .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    height: 89vh;
}

.card-des {
    display: flex;
    justify-content: space-around;
    height: 89vh;
}

.pic-container {
    width: 49%;
    min-height: 45vh;
}

.describe {
    width: 30%;
}

.card-info {
    background-color: #706c61;
    color: #e8d4b4;
    opacity: 0.8;
    width: 15%;
}